
<form #f="ngForm">
    <div class="container prod-container">

    <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="serialNumber" >serial number</label>
        <input [(ngModel)]="prod.serialNumber" class="form-control" #serialNumber="ngModel" class="form-control" name="serialNumber">

        <label for="type">type</label>
        <input  [(ngModel)]="prod.type"  class="form-control" name="type" >

        <label for="name">name</label>
        <input [(ngModel)]="prod.name" class="form-control" name="name" >
        <div *ngIf="show">
              <div class="form-group col-sm-6">
                <label for="surname">surname</label>
                <input  [(ngModel)]="cust.surname" class="form-control" name="surname" >
                <label for="nome">nome</label>
                <input [(ngModel)]="cust.name"  class="form-control" name="nome">
                <label for="company">company</label>
                <input [(ngModel)]="cust.company" class="form-control" name="company">
            </div>
        </div>
            <div>
              <button (click)="comeBack()" class="prod-button button2">Indietro</button>
              <button class="prod-button button2" (click)="saveProduct()">Salva</button>
              <button class="prod-button button2" (click)="reset()">Pulisci</button>
              <button class="prod-button button2" (click)="gotoNewCustmer()">Aggiungi Cliente</button>
            </div>
    </div>
 
    </div>
  
</div>
  </form>
  
