

.prod-container{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 35%;

}
.prod-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.prod-form h3{
    text-align: center;
    color: #333;
}
.prod-container form{
    padding: 8%;
}

.prod-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
justify-content: center;
 align-items: center;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
    justify-content: center;
     align-items: center;
    font-size: 12px;}