
<form #f="ngForm">
    <div class="container prod-container">

    <div class="form-row">
      <div class="form-group col-sm-4">
        <label for="serialNumber" >serial number</label>
        <input [(ngModel)]="prod.serialNumber" class="form-control" #serialNumber="ngModel" class="form-control" name="serialNumber">

        <label for="type">type</label>
        <input  [(ngModel)]="prod.type"  class="form-control" name="type" >

        <label for="name">name</label>
        <input [(ngModel)]="prod.name" class="form-control" name="name" >
        <div *ngIf="show">
              <div class="form-group col-sm-6">
                <label for="surname">surname</label>
                <input  [(ngModel)]="cust.surname" class="form-control" name="surname" >
                <label for="nome">nome</label>
                <input [(ngModel)]="cust.name"  class="form-control" name="nome">
                <label for="company">company</label>
                <input [(ngModel)]="cust.company" class="form-control" name="company">
            </div>
        </div>
        <p></p>
            <div>
              <button type="button" class="btn btn-info" style="margin:5px;" (click)="comeBack()">Back</button>
              <button type="button" class="btn btn-info" style="margin:5px;" (click)="reset()">Clean</button>
              <button type="button" class="btn btn-info" style="margin:5px;" (click)="saveProduct()">Save</button>
              <button type="button" class="btn btn-info" style="margin:5px;" (click)="gotoNewCustmer()">Add Customer</button>
            </div>
    </div>
 
    </div>

  
</div>
  </form>
  
