
<div class="container login-container">
    <div class="row" class="container">
        <div class="col-md-6 login-form">
            <h3>Login Form </h3>
            <div class="form-group">
                <input type="text" class="form-control" id="userId" placeholder="Nome Utente" [(ngModel)]="jwtTokenRequest.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="jwtTokenRequest.password">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" (click)=login()>login</button>
            </div>
              
        </div>
    </div>
</div>
