ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(13, 32, 97, 0.384);
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(45, 154, 218);
}

.active {
  background-color: #ebf5f1;
}