
<div class="container prod-container">

    <div class="container">

    <div class="form-row">
      <div class="form-group col-sm-4">

        <label for="surname customer">Search for Surname</label>
        <input [(ngModel)]="surname" #serialNumber="ngModel" class="form-control" name="surnameCustomer">

        <label for="type">Search for type</label>
        <input  [(ngModel)]="type" class="form-control" name="type" >
        <td></td>
        <p></p>
        <td><button type="button" class="btn btn-info" (click)="cerca(surname,type)">Search</button></td>
    </div>

    </div>
   
</div>

</div>

    <div *ngIf="show">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Customers</th>
          </tr>
        </thead>
        <tbody>
    
    
          <tr *ngFor="let emp of product">
    
            <td>{{ emp.serialNumber }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.type }}</td>
            <td><button type="button" class="btn btn-info" (click)="open(emp.serialNumber)">Show</button></td>
    
          </tr>
        </tbody>
      </table>
    </div>
