
  <table class="table table-bordered">
    <thead >
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Customers</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
     
        
        <tr *ngFor="let emp of product">
         
          <td>{{ emp.serialNumber }}</td>
          <td>{{ emp.type }}</td>
          <td>{{ emp.name }}</td>
        
         <td><button type="button" class="btn btn-info" style="margin:5px;" (click)="open(emp.serialNumber)">Show</button></td>
         <td><button type="button" class="btn btn-info" style="margin:5px;" (click)="delete(emp.serialNumber)">Delete</button></td>
         <td><button type="button" class="btn btn-info" style="margin:5px;" (click)="modifica(emp.serialNumber)">Update</button></td>
        </tr>
    </tbody>
  </table>


