
  <table class="table table-bordered">
    <thead >
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">Tipo</th>
        <th scope="col">Nome</th>
        <th scope="col">Cliente</th>
        <th scope="col">Elimina</th>
        <th scope="col">Modifica</th>
      </tr>
    </thead>
    <tbody>
     
        
        <tr *ngFor="let emp of product">
         
          <td>{{ emp.serialNumber }}</td>
          <td>{{ emp.type }}</td>
          <td>{{ emp.name }}</td>
         <td><button class="btn btn-link" (click)="open(emp.serialNumber)">Mostra Cliente</button></td>
         <td><button class="btn btn-link" (click)="delete(emp.serialNumber)">Elimina</button></td>
         <td><button class="btn btn-link" (click)="modifica(emp.serialNumber)">Modifica</button></td>
        </tr>
    </tbody>
  </table>


