.parent{
    background:#fff;
    text-align:center;
    }
    
    .parent a {
    text-decoration: none;
    background: #333;
    border-radius: 3px;
    color: #fff;
    padding: 5px 8px;
    margin-right:6px;
    }

    .prod-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
justify-content: center;
 align-items: center;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
    justify-content: center;
     align-items: center;
    font-size: 12px;}